.navbar{
    width: 100%;
    margin: 0%;
    padding:0% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    border-bottom: 1px solid black;
}
.navbar>img{
    height: 170px;
}
.navbar {
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;              
  border-bottom: 1px solid black;
  background: white;
}

.navbar > img {
  height: 120px;          
  object-fit: contain;
}

.navbar > h1 {
  font-size: 2.5rem;     
  font-weight: 600;
  font-style: oblique;
}


@media (max-width: 992px) {
  .navbar {
    gap: 2rem;
    padding: 1rem;
  }

  .navbar > img {
    height: 100px;
  }

  .navbar > h1 {
    font-size: 2rem;
  }
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  .navbar > img {
    height: 80px;        
  }

  .navbar > h1 {
    font-size: 1.8rem;
  }
}


.navbar >h1{
    font-weight: 5rem;
    font-size: 4rem;
    font-style:oblique;
}